/* Switch */
:root {
    --softcyan: hsl(174, 77%, 80%); 
    --strongcyan: hsl(174, 86%, 45%);
    --lightgrayred: hsl(14, 92%, 95%);
    --lightred: hsl(15, 100%, 70%);
    --paleblue: hsl(226, 100%, 87%);

    --grayishblue: hsl(225, 20%, 60%);
    --darkdesatblue: hsl(227, 35%, 25%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--strongcyan);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Money Range */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    
  }

  input[type="range"]:focus {
  outline: none;
}


/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
     appearance: none;
     margin-top: -20px; /* Centers thumb on the track */
  
     /*custom styles*/
     background-color: var(--strongcyan);
     height: 50px;
     width: 50px;
     border-radius: 25px;
     box-shadow: 0 3px 10px var(--strongcyan);
  }

input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem; 
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--softcyan);
    border-radius: 0.5rem;
    height: 0.5rem;  
 }